#navbar{
    position: absolute;
    top: 0;
    height: 60px;
    border-bottom: 1px solid black;
    width: 1250px;
    display: flex;
    align-items: center;
}
#logo{
    width: 50px;
    border-radius: 50%;
    margin-left: 50px;
}
#logoset{
    display: flex;
    align-items: center;
    position: absolute;
}
h2{
    width: 200px;
    margin-left: 20px;
    font-family: 'Rubik', sans-serif;
    
}

.page{
    color: black;
    text-decoration: none;
    margin-left: 50px;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
}
#pagemain{
    color: black;
    text-decoration: none;
    margin-left: 800px;
    font-size: 18px;
    font-family: 'Rubik', sans-serif; 
   
}
h1{
    font-size: 4rem;
    text-align: center;
    margin-top: 100px;
    
}
p{
    font-size: 20px;
    text-align: center;
}
#facebook{
    width: 50px;
    margin-left: 500px;
    margin-top: 90px;
}
#gmail{
    width: 50px;
    margin-left: 50px;
}
#instagram{
    width: 50px;
    margin-left: 50px;
}